@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 auto;
  min-width: 360px;
  font-family: 'Roboto', sans-serif;
}

.scene {
  width: 345px;
  height: 300px;
}

@media (min-width: 640px) {
  .scene {
    width: 625px;
  }
}

@media (min-width: 768px) {
  .scene {
    width: 753px;
  }
}

@media (min-width: 1024px) {
  .scene {
    width: 1009px;
    height: 500px;
  }
}

@media (min-width: 1280px) {
  .scene {
    width: 1265px;
  }
}

@media (min-width: 1536px) {
  .scene {
    width: 1521px;
  }
}

.glass {
  background: rgba(0, 0, 0, 0.2); /* Hice el fondo un poco más oscuro */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Reduje la opacidad y el tamaño de la sombra */
  backdrop-filter: blur(7px); /* Ligeramente más de desenfoque */
  -webkit-backdrop-filter: blur(7px); /* También para navegadores basados en WebKit */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Reduje la opacidad del borde */
}
