@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-width: 375px;
}

.text-wrap-balance {
    text-wrap: balance;
}

.accordion-p {
    background: linear-gradient(to right, #FF1C1C, #c92d31);
}